.projects-section {
    background-color: white;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    margin-top: -34vh;
    padding: 23rem 0;
    position: relative;
    z-index: 2;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/projects.jpg);

    h2 {
        font-weight: 500;
        font-size: 5rem;
        letter-spacing: 10px;
        margin-top: 20px;
        text-align: center;
        background: -webkit-linear-gradient(white, #38495a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .projects-wrapper {
        margin: 30px auto 0 auto;
        width: 70%;
        display: flex;
        flex-wrap: wrap;

        .project {
            max-width: 300px;
            margin-right: 50px;
            margin-bottom: 50px;

            img {
                width: 100%;
            }
        }
    }

    h3 {
        font-weight: 500;
        font-size: 3rem;
        letter-spacing: 5px;
        color: #7B8282;
        text-align: center;
    }

    .mini-projects-wrapper {
        margin: 30px auto;
        width: 95%;
        display: flex;
        flex-wrap: wrap;

        .project {
            max-width: 200px;
            margin-right: 50px;
            margin-bottom: 50px;


            img {
                width: 100%;
            }
        }
    }
}
