.about-section {
    background-color: yellow;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    margin-top: -20vh;
    padding: 13rem 0;
    position: relative;
    z-index: 4;

    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

    .about-wrapper {
        position: absolute;
        top: 20%;
        left: 0;
        right: 0;
        color: #fff;
        text-align: center;

        #title>span {
            font-weight: 300;
            font-size: 50px;
            letter-spacing: 10px;
            margin-top: -60px;
            padding-left: 10px;

            background: -webkit-linear-gradient(white, #38495a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .content-wrapper {
            display: flex;

            .title-wrapper {
                .title-text {
                    font-size: 1.8rem;
                    font-weight: 300;
                    letter-spacing: 1px;
                    width: 400px;
                    margin-top: 100px;
                    margin-left: 100px;
                    text-align: left;
                }

                .title-text:nth-child(2) {
                    margin-top: 50px;
                }
            }


            .info-wrapper {
                p {
                    font-size: 1.5rem;
                    font-weight: 300;
                    width: 350px;
                    margin-left: 100px;
                    text-align: left;
                    border-bottom: 1px solid rgba(250, 250, 250, 0.12);
                    margin-bottom: 20px;
                    padding-bottom: 10px;

                    span {
                        font-weight: 700;
                        margin-right: 5px;
                    }

                    a {
                        text-decoration: none;
                        color: #20c997;

                        &:hover {
                            color: #1baa80;
                            transition: all 0.2s ease;
                        }
                    }
                }

                p:first-child {
                    margin-top: 100px;
                }

                button {
                    border-radius: 50rem;
                    border: 1px solid transparent;
                    font-weight: 600;
                    font-size: 1.3rem;
                    padding: 1.4rem 3.8rem;
                    background-color: #1baa80;
                    color: white;
                    cursor: pointer;
                    margin-right: 90px;
                    transition: all 0.4s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
