.contact-section {
    background-color: #F1B8CC;
    margin-top: -40rem;
    padding-top: 40rem;
    padding-bottom: 10rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/contact.jpg);


    h2 {
        margin-top: 100px;
        font-weight: 500;
        font-size: 5rem;
        letter-spacing: 5px;
        margin-bottom: 70px;
        text-align: center;
        color: white;
    }

    form {
        width: 80%;
        margin: 30px auto;

        .input-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            width: 100%;
        }

        input {
            max-width: 350px;
            background-color: #232A31;
            color: white;
            border-color: #232a31;
            padding: 1.3rem 1.6rem;
            width: 100%;
            font-family: 'Nunito',
                sans-serif;
            font-size: 1.6rem;


            &::placeholder {
                color: #777b7f;

            }

            &:last-child {
                margin-right: 0;
            }
        }

        textarea {
            width: 100%;
            margin-top: 20px;
            background-color: #232a31;
            border-color: #232a31;
            padding: 1.3rem 1.6rem;
            color: white;
            font-size: 1.6rem;
            font-weight: 500;
            font-family: 'Nunito',
                sans-serif;
            resize: vertical;
            overflow: auto;


            &::placeholder {
                color: #777b7f;
            }
        }

        .button-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                border-radius: 50rem;
                border: 1px solid transparent;
                font-weight: 600;
                font-size: 1.3rem;
                padding: 1.4rem 3.8rem;
                background-color: #1baa80;
                color: white;
                cursor: pointer;
                margin: 40px auto;

                transition: all 0.4s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

    }
}

@media screen and (max-width: 750px) {
    .contact-section {
        h2 {
            font-size: 4.5rem !important;
        }

        input,
        textarea {
            font-size: 1.6rem !important;
        }
    }
}



@media screen and (max-width: 450px) {
    .contact-section {
        h2 {
            font-size: 3.5rem !important;
        }

        input,
        textarea {
            font-size: 1.4rem !important;
        }
    }
}
